@{
    ViewData["Title"] = "Home Page";
}
@section Scripts{
<environment names="Development">
    <script src="~/lib/chartist/dist/chartist.js"></script>
    <script src="~/js/home.js"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/js/home.bundle.min.js"></script>
</environment>
}
@section Styles{
    <environment names="Development">
        <link href="~/lib/chartist/dist/chartist.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/css/home.bundle.min.css" asp-append-version="true" rel="stylesheet" >
    </environment>
}
<div id="my-chart"></div>
